.appointment {
    margin-top: 150px;
    margin-bottom: 200px;
}
.appointment .img {
    position: relative;
}
.appointment .img img:first-child {
    position: absolute;
    outline: 15px solid #fff;
    width: 50%;
    height: 50%;
    top: -40px;
    left: -20px;
}
.appointment .img img:last-child {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width:992px) {
    .appointment .flexsm {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (min-width:993px) and (max-width: 1440px) {
    .appointment .flexsm {
        display: flex;
        flex-direction: row;
    }
    .appointment .left {
        text-align: center;
    }
    .appointment .left .img img:first-child {
        display: none;
    }
}
.appoint-in {
    background-color: transparent;
    padding: 0;
    margin: 20px auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.appoint-in .one,
.appoint-in .two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.appoint-in .one input,
.appoint-in .two input {
    padding: 10px;
    height: 60px;
    width: 100%;
    border: none;
    outline: none;
    color: #757575;
    margin-top: 10px;
    background-color: #F3F6F8;
}
.appoint-in textarea {
    font-size: 20px;
    border: none;
    outline: none;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: #F3F6F8;
}
.appoint-in input[type= button] {
    width: 100%;
    border: none;
    background-color: var(--primary);
    color: #fff;
    font-size: 17px;
    padding: 22px;
    margin-top: 10px;
    font-weight: 500;
    transition: 0.3s;
    cursor: pointer;
}
.appoint-in input[type= button]:hover {
    background-color: #eeba00de;
}
@media screen and (max-width:768px) {
    .appointment .heading h1 {
        font-size: 28px;
    }
}
@media screen and (min-width: 768px) {
    .appoint-in .one,
    .appoint-in .two {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .appoint-in .one input:first-child,
    .appoint-in .two input:first-child {
        margin-right: 10px;
    }
}
@media screen and (min-width:769px) and (max-width:992px) {
    .appointment .heading {
        margin: auto;
        max-width: 700px;
    }
    .appointment .heading h1 {
        font-size: 30px;
    }
    .appoint-in {
        max-width: 720px;
    }
}
@media screen and (min-width:993px) and (max-width:1400px) {
    .appointment .heading {
        margin: auto;
        max-width: 700px;
        text-align: center;
    }
    .appointment .heading h1 {
        font-size: 30px;
    }
    .appoint-in {
        max-width: 720px;
    }
}