.features {
    margin-top: 200px;
    margin-bottom: 200px;
}
.features .img {
    position: relative;
}
.features .img img:first-child {
    position: absolute;
    outline: 15px solid #fff;
    width: 50%;
    height: 50%;
    top: -40px;
    right: -20px;
}
.features .img img:last-child {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.features .left h1 {
    font-size: 38px;
}
.features .left .features-info p {
    margin-top: 30px;
    color: #757575;
    line-height: 1.5;
    font-size: 16px;
}
.features .left .features-info .check {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.features .left .features-info .check .one-check {
    margin-right: 20px;
}
.features .left .features-info .check i {
    background-color: var(--primary);
    color: #fff;
    padding: 10px 12px;
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
}
.features .left .features-info .check span {
    color: var(--dark);
    font-weight: 600;
    font-size: 19px;
    line-height: 1.8;
}
.features .left .features-info .check p {
    margin-bottom: 30px;
    margin-top: 12px;
}
@media screen and (max-width:768px) {
    .features .features-info .check {
        display: flex;
        flex-direction: column;
    }
    .features .left .features-info .check .one-check {
        margin-right: 0;
    }
}
@media screen and (max-width:992px) {
    .features .flexsm {
        display: flex;
        flex-direction: column;
    }
    .features .left {
        margin-bottom: 40px;
    }
    .features .right .img {
        width: 100%;
    }
    .features .right .img img:last-child {
        width: 100%;
    }
}
@media screen and (min-width:993px)and (max-width: 1200px) {
    .features .flexsm {
        display: flex;
        flex-direction: column;
    }
    .features .right {
        text-align: center;
    }
}
@media screen and (min-width:1201px) and (max-width:1400px) {
    .features .left ,
    .features .left .features-info .check {
        width: 500px;
    }
}